#Name { 
    color: rgb(132, 11, 101);
    border:5px solid #ab108e;
    border-radius: 190px;
    background: #fdc4eb;
    padding: 5px;
    margin: 5px;
    border: dashed;
}
#Function {
    color: rgb(175, 38, 150);
    border-radius: 190px;
    background: #efd1e5;
    padding: 10px;
    
}
* { 
    font-family: "Poppins", sans-serif;
}
li {
    display: inline;
}
.Mission {
    width: 30%;
    vertical-align: top;
    display: inline-block ;
}

ul.menu {
    text-align: center;
    color: rgb(175, 38, 150);
    border-radius: 190px;
    background: #fdc4eb;
}

li {
    margin-right: 10px;
}